# =================================== #
#   AI                                #
# =================================== #

.agents
.claude
.cursor


# =================================== #
#   MISC
# =================================== #

.DS_Store


# =================================== #
#   Next.js
# =================================== #

.next
.cache
*.local
dist
dist-ssr
pnpm-lock.yaml
public
node_modules
next-env.d.ts
next.config.ts


# =================================== #
#   Testing
# =================================== #

**/coverage
